footer {
  background-color: setcolor(grey, dark);
  padding: 3rem 1.5rem 1.5rem;

 .footer-list {
    font-size: 1.4rem;
    line-height: 2.5rem;

    a {
      color: $color-white;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .icon-suggest {
    padding-right: 1.2rem;
  }

  .icon-partnership {
    padding-right: 1.1rem;
    font-size: 1rem;
  }

  @include breakpoint(sm) {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-list {
      text-align: center;
    }
  }

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
        ". logo ."
        ". list .";

    .logo-link {
      grid-area: logo;
      text-align: center;
    }

    .footer-list {
      grid-area: list;
      display: flex;
      justify-content: space-evenly;
    }
  }

  @include breakpoint(lg) {
    padding: 3rem 13rem 1.5rem;
  }
}