/************** Breakpoints **************/

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 991px,
  'xl': 1200px
);

// Use ex: @include breakpoint(md) { ... }
@mixin breakpoint($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

/************** number tutorial card **************/

@mixin number-tuto-card {
  position: absolute;
  @include flex-center;
  width: 21px;
  height: 21px;
  left: 1.5rem;
  margin-top: 0.6rem;
  border-radius: 50%;
  background-color: $color-primary;
  color: $color-white;
  font-size: 1.2rem;

  @include breakpoint(md) {
    position: relative;
    left: -1.5rem;
    margin-top: 0;
  }

  @include breakpoint(lg) {
    left: -2.5rem;
    margin-top: 0;
  }
}

/************** hide-text **************/

@mixin hide-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/************** shortcut flex layout **************/

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}