/************** color variables **************/
/* shades of grey in SASS function */
/************** text variables **************/
/************** spacing variables **************/
/************** utility variables **************/
/* radius */
/* shadow */
/* gradient */
/************** Breakpoints **************/
/************** number tutorial card **************/
/************** hide-text **************/
/************** shortcut flex layout **************/
/************** transition and animation **************/
.favorites-icon {
  font-size: 2.2rem;
  font-weight: 400;
  cursor: pointer;
  color: #363636;
  transition: all 0.3s ease-in-out;
}
.favorites-icon:active {
  font-weight: 900;
  color: #9256dc;
}
@media (min-width: 768px) {
  .favorites-icon:hover {
    font-weight: 900;
    color: #9256dc;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("../../public/font/roboto/Roboto-Bold.eot");
  src: url("../../public/font/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../../public/font/roboto/Roboto-Bold.woff2") format("woff2"), url("../../public/font/roboto/Roboto-Bold.woff") format("woff"), url("../../public/font/roboto/Roboto-Bold.ttf") format("truetype"), url("../../public/font/roboto/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../public/font/roboto/Roboto-Regular.eot");
  src: url("../../public/font/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../public/font/roboto/Roboto-Regular.woff2") format("woff2"), url("../../public/font/roboto/Roboto-Regular.woff") format("woff"), url("../../public/font/roboto/Roboto-Regular.ttf") format("truetype"), url("../../public/font/roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../public/font/shrikhand/Shrikhand-Regular.eot");
  src: url("../../public/font/shrikhand/Shrikhand-Regular.eot?#iefix") format("embedded-opentype"), url("../../public/font/shrikhand/Shrikhand-Regular.woff2") format("woff2"), url("../../public/font/shrikhand/Shrikhand-Regular.woff") format("woff"), url("../../public/font/shrikhand/Shrikhand-Regular.ttf") format("truetype"), url("../../public/font/shrikhand/Shrikhand-Regular.svg#Shrikhand-Regular") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/************** Base **************/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1400px;
  margin: 0 auto;
  line-height: 1.6rem;
  font-size: 1.6rem;
  color: #141414;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 1rem 0;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
}

h4 {
  font-size: 1.6rem;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #141414;
}

a:active,
a:focus {
  outline: 0;
}

figure {
  margin: 0;
}

figcaption ul {
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

/************** loading at the top of the page **************/
.loader {
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: end-loader 0.3s forwards;
  animation-delay: 2.5s;
}
.loader__circle {
  width: 15px;
  height: 15px;
  background: #9256dc;
  border-radius: 50%;
  margin: 5px;
}
.loader--circle-1 {
  left: 0px;
  animation: circle-jump 0.5s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
}
.loader--circle-2 {
  left: 20px;
  animation: circle-jump 0.5s 0.2s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
}
.loader--circle-3 {
  left: 40px;
  animation: circle-jump 0.5s 0.4s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
}

.block-scroll-loader {
  animation: no-scroll 5s ease-in-out;
  animation-duration: 5s;
}

/* loader animation */
@keyframes circle-jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
/* end of loader transition */
@keyframes end-loader {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}
/* block scroll during loader animation */
@keyframes no-scroll {
  0% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: auto;
  }
}
/************** appearance of elements in the page display **************/
@keyframes appear {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-10%);
    opacity: 1;
  }
}
/************** rotate an element on itself **************/
@keyframes rotate-on-itself {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn {
  position: relative;
  z-index: 1;
  border: none;
  cursor: pointer;
  color: white;
  padding: 1.5rem;
  border-radius: 25px;
  background: linear-gradient(170deg, #ff7ad9, #9256dc);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 25px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  background: linear-gradient(170deg, #ff94e1, #a06be1);
  transition: all 0.3s ease-in-out;
}
.btn:hover::after {
  opacity: 1;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}
.btn--large {
  padding: 1.5rem 5rem;
}
.btn:active {
  box-shadow: none;
}
.btn:focus {
  outline: 0;
}

.new-restaurant-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 12px;
  top: 12px;
  width: 8rem;
  height: 3rem;
  border-radius: 2px;
  background-color: #98e2cf;
}
.new-restaurant-badge::before {
  content: "Nouveau";
  font-size: 1.5rem;
  font-weight: 600;
  color: #278b72;
}

.logo-link {
  font-family: "Shrikhand", sans-serif;
  font-size: 2.5rem;
}
.logo-link--black {
  color: #141414;
}
.logo-link--white {
  color: white;
}

header {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  width: 100%;
  height: 6rem;
  padding: 0 1.5rem;
  background-color: white;
  box-shadow: 0 1px 10px 0 #c4c4c4;
}
nav .back-link {
  position: absolute;
  left: 0;
  padding-left: 1.5rem;
}

footer {
  background-color: #363636;
  padding: 3rem 1.5rem 1.5rem;
}
footer .logo-link {
  font-size: 1.8rem;
}
footer .footer-list {
  font-size: 1.4rem;
  line-height: 2.5rem;
}
footer .footer-list a {
  color: white;
}
footer .footer-list a:hover {
  text-decoration: underline;
}
footer .icon-suggest {
  padding-right: 1.2rem;
}
footer .icon-partnership {
  padding-right: 1.1rem;
  font-size: 1rem;
}
@media (min-width: 576px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer-list {
    text-align: center;
  }
}
@media (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: ". logo ." ". list .";
  }
  footer .logo-link {
    grid-area: logo;
    text-align: center;
  }
  footer .footer-list {
    grid-area: list;
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 991px) {
  footer {
    padding: 3rem 13rem 1.5rem;
  }
}

/**************************************************/
/************** section-localisation **************/
/**************************************************/
.section-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #eaeaea;
  color: #363636;
}
.section-localisation .icon-localisation {
  padding-right: 1.5rem;
  padding-bottom: 0.45rem;
}

/*********************************************************/
/************** section-explore-restaurants **************/
/*********************************************************/
.section-explore-restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3.5rem 2.5rem 4rem 2.5rem;
  background-color: #f6f6f6;
}
.section-explore-restaurants .title-ohmyfood {
  text-align: center;
  line-height: 2.8rem;
  letter-spacing: -0.1rem;
}
.section-explore-restaurants .description-ohmyfood {
  text-align: center;
  line-height: 2rem;
  margin: 1rem 0 1.5rem;
  color: #777777;
}

/**************************************************/
/**************** section-tutorial ****************/
/**************************************************/
.section-tutorial {
  background-color: white;
  padding: 3.5rem 1.5rem;
}

.list-tutorial {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1rem;
}
@media (min-width: 768px) {
  .list-tutorial {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
    grid-template-areas: "tutorial-one tutorial-two tutorial-three";
    padding: 0;
  }
  .list-tutorial .card-tutorial:nth-child(1) {
    grid-area: tutorial-one;
  }
  .list-tutorial .card-tutorial:nth-child(2) {
    grid-area: tutorial-two;
  }
  .list-tutorial .card-tutorial:nth-child(3) {
    grid-area: tutorial-three;
  }
}

/************** card-tutorial **************/
.card-tutorial {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "one two two two";
  margin: 1rem 0;
  padding: 1.5rem 0;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
}
.card-tutorial__tutorial-icon {
  grid-area: one;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #777777;
}
.card-tutorial__tutorial-icon--active {
  color: #9256dc;
}
.card-tutorial__title {
  grid-area: two;
}
@media (min-width: 576px) {
  .card-tutorial {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "one two";
  }
}
@media (min-width: 768px) {
  .card-tutorial {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.card-tutorial:nth-child(1)::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  left: 1.5rem;
  margin-top: 0.6rem;
  border-radius: 50%;
  background-color: #9256dc;
  color: white;
  font-size: 1.2rem;
  content: "1";
}
@media (min-width: 768px) {
  .card-tutorial:nth-child(1)::before {
    position: relative;
    left: -1.5rem;
    margin-top: 0;
  }
}
@media (min-width: 991px) {
  .card-tutorial:nth-child(1)::before {
    left: -2.5rem;
    margin-top: 0;
  }
}

.card-tutorial:nth-child(2)::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  left: 1.5rem;
  margin-top: 0.6rem;
  border-radius: 50%;
  background-color: #9256dc;
  color: white;
  font-size: 1.2rem;
  content: "2";
}
@media (min-width: 768px) {
  .card-tutorial:nth-child(2)::before {
    position: relative;
    left: -1.5rem;
    margin-top: 0;
  }
}
@media (min-width: 991px) {
  .card-tutorial:nth-child(2)::before {
    left: -2.5rem;
    margin-top: 0;
  }
}

.card-tutorial:nth-child(3)::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  left: 1.5rem;
  margin-top: 0.6rem;
  border-radius: 50%;
  background-color: #9256dc;
  color: white;
  font-size: 1.2rem;
  content: "3";
}
@media (min-width: 768px) {
  .card-tutorial:nth-child(3)::before {
    position: relative;
    left: -1.5rem;
    margin-top: 0;
  }
}
@media (min-width: 991px) {
  .card-tutorial:nth-child(3)::before {
    left: -2.5rem;
    margin-top: 0;
  }
}

/**************************************************/
/*************** article-restaurants **************/
/**************************************************/
.article-restaurants {
  padding: 3.5rem 1.5rem;
  background-color: #f6f6f6;
}
.article-restaurants__list {
  margin: 3rem 0 3rem 0;
}
@media (min-width: 768px) {
  .article-restaurants__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
    grid-template-areas: "one two" "three four";
    margin: 1.3rem 0 3rem 0;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .article-restaurants__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "one two three four";
  }
}
@media (min-width: 768px) {
  .article-restaurants__list li:nth-child(1) {
    grid-area: one;
  }
}
@media (min-width: 768px) {
  .article-restaurants__list li:nth-child(2) {
    grid-area: two;
  }
}
@media (min-width: 768px) {
  .article-restaurants__list li:nth-child(3) {
    grid-area: three;
  }
}
@media (min-width: 768px) {
  .article-restaurants__list li:nth-child(4) {
    grid-area: four;
  }
}

/************** card-restaurant **************/
.link-restaurant {
  display: flex;
  overflow: hidden;
  height: 25rem;
  margin: 1.5rem 0;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.card-restaurant {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card-restaurant__img {
  position: relative;
  display: flex;
  flex: 1.2;
  overflow: hidden;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card-restaurant__img img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-restaurant .new-restaurant-badge {
  position: absolute;
}
.card-restaurant__legend {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "menu menu menu menu menu favorites" "restaurant restaurant restaurant restaurant restaurant favorites";
  padding: 1.5rem;
  background-color: white;
}
.card-restaurant__legend__menu-name {
  grid-area: menu;
  margin: 0.5rem 0;
}
.card-restaurant__legend__restaurant-name {
  grid-area: restaurant;
  margin: 0.5rem 0;
}
.card-restaurant__legend__content-fav-icon {
  grid-area: favorites;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
}

/**************************************************/
/*************** section-photo-menu ***************/
/**************************************************/
.section-photo-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-photo-menu picture {
  width: 100%;
}
.section-photo-menu picture .photo-menu {
  width: 100%;
}
@media (min-width: 768px) {
  .section-photo-menu {
    max-height: 70vh;
  }
}

/*****************************************************/
/************** section-menu-restaurant **************/
/*****************************************************/
.section-menu-restaurant {
  position: relative;
  bottom: 5rem;
  padding: 3.2rem 1.5rem 2.7rem 1.5rem;
  border-radius: 35px 35px 0 0;
  background-color: #f6f6f6;
}
.section-menu-restaurant .title-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", sans-serif;
  padding: 0 2.5rem 0 0;
}

@media (min-width: 768px) {
  .list-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
  }
  .list-menu li:nth-child(1) {
    grid-column: 1/2;
  }
  .list-menu li:nth-child(2) {
    grid-column: 2/4;
  }
  .list-menu li:nth-child(3) {
    grid-column: 1/4;
  }
}
@media (min-width: 991px) {
  .list-menu {
    grid-template-columns: repeat(3, 1fr);
  }
  .list-menu li:nth-child(1) {
    grid-column: 1/2;
  }
  .list-menu li:nth-child(2) {
    grid-column: 2/3;
  }
  .list-menu li:nth-child(3) {
    grid-column: 3/4;
  }
}

.part-menu {
  padding: 1.5rem 0;
}
.part-menu h2 {
  position: relative;
  margin: 1rem 0 3.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #363636;
}
.part-menu h2::after {
  position: absolute;
  content: "";
  width: 4rem;
  height: 0.35rem;
  left: 1px;
  top: 23px;
  background-color: #98e2cf;
}

/************** card-menu **************/
.card-menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  row-gap: 0.8rem;
  grid-template-areas: "title title title title title price select" "details details details details details price select";
  margin: 1.5rem 0;
  border-radius: 15px;
  opacity: 0;
  cursor: pointer;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.card-menu__title {
  grid-area: title;
  padding: 1.5rem 0 0 1.5rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 991px) {
  .card-menu__title {
    font-size: 1.6rem;
  }
}
.card-menu__details {
  grid-area: details;
  padding: 0 0 1.5rem 1.5rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 991px) {
  .card-menu__details {
    font-size: 1.4rem;
  }
}
.card-menu__price {
  grid-area: price;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1.5rem;
  margin: 0;
  font-weight: 700;
}
.card-menu__select-product {
  grid-area: select;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 0;
  background-color: #98e2cf;
  border-radius: 0 15px 15px 0;
  transition: width 0.5s ease-in-out;
}
.card-menu__select-product .select-icon {
  font-size: 2.2rem;
  color: white;
}
.card-menu:hover .card-menu__select-product {
  width: 7rem;
}
.card-menu:hover .select-icon {
  animation: rotate-on-itself 0.5s forwards;
}

.part-menu .card-menu:nth-child(2) {
  animation: appear 1s forwards;
  animation-delay: 0.2s;
}
.part-menu .card-menu:nth-child(3) {
  animation: appear 1s forwards;
  animation-delay: 0.4s;
}
.part-menu .card-menu:nth-child(4) {
  animation: appear 1s forwards;
  animation-delay: 0.6s;
}

/************** order-menu **************/
.order-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
