/************** section-localisation **************/
.section-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: setcolor(grey,base);
  color: setcolor(grey, dark);
  
  .icon-localisation {
    padding-right: $all-padding;
    padding-bottom: 0.45rem;
  }
}

/************** section-explore-restaurants **************/
.section-explore-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 2.5rem 4rem 2.5rem;
  background-color: setcolor(grey,light);

  h2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.8rem;
    letter-spacing: -0.1rem;
  }

  p {
    text-align: center;
    margin: 1rem 0 1.5rem;
    color: setcolor(grey, semi-dark);
  }
}

/************** section-tutorial **************/
.section-tutorial {
  background-color: white;
  padding: 3.5rem 1.5rem;
}

.list-tutorial {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1rem;

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
    grid-template-areas:
        "tutorial-one tutorial-two tutorial-three";

    .card-tutorial:nth-child(1) {
      grid-area: tutorial-one;
    }

    .card-tutorial:nth-child(2) {
      grid-area: tutorial-two;
    }

    .card-tutorial:nth-child(3) {
      grid-area: tutorial-three;
    }
  }
}

/************** article-restaurants **************/
.article-restaurants {
  padding: 3.5rem 1.5rem;
  background-color: setcolor(grey,light);

  @include breakpoint(md) {

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 1.5rem;
      grid-template-areas:
          "one two"
          "three four";
    
      @include breakpoint(xl) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "one two three four"
      }

      li:nth-child(1) {
        grid-area: one;
      }

      li:nth-child(2) {
        grid-area: two;
      }

      li:nth-child(3) {
        grid-area: three;
      }

      li:nth-child(4) {
        grid-area: four;
      }
    }
  }
}



