/**************************************************/
/************** section-localisation **************/
/**************************************************/
.section-localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: setcolor(grey,base);
  color: setcolor(grey, dark);
  
  .icon-localisation {
    padding-right: $all-padding;
    padding-bottom: 0.45rem;
  }
}

/*********************************************************/
/************** section-explore-restaurants **************/
/*********************************************************/
.section-explore-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 2.5rem 4rem 2.5rem;
  background-color: setcolor(grey,light);

  h2 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.8rem;
    letter-spacing: -0.1rem;
  }

  p {
    text-align: center;
    margin: 1rem 0 1.5rem;
    color: setcolor(grey, semi-dark);
  }
}

/**************************************************/
/**************** section-tutorial ****************/
/**************************************************/
.section-tutorial {
  background-color: white;
  padding: 3.5rem 1.5rem;
}

.list-tutorial {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1rem;

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
    grid-template-areas:
        "tutorial-one tutorial-two tutorial-three";

    .card-tutorial:nth-child(1) {
      grid-area: tutorial-one;
    }

    .card-tutorial:nth-child(2) {
      grid-area: tutorial-two;
    }

    .card-tutorial:nth-child(3) {
      grid-area: tutorial-three;
    }
  }
}

/************** card-tutorial **************/
.card-tutorial {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
  border-radius: $radius-tuto-card;
  padding: 1.5rem 0;
  cursor: pointer;
  background-color: setcolor(grey,light);
  box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 10%);

  i {
    color: setcolor(grey,semi-dark);
  }
}

.card-tutorial:nth-child(1)::before {
  @include number-tuto-card;
  content: "1";
}

.card-tutorial:nth-child(2)::before {
  @include number-tuto-card;
  content: "2";
}

.card-tutorial:nth-child(3)::before {
  @include number-tuto-card;
  content: "3";
}

/**************************************************/
/*************** article-restaurants **************/
/**************************************************/
.article-restaurants {
  padding: 3.5rem 1.5rem;
  background-color: setcolor(grey,light);

  @include breakpoint(md) {

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 1.5rem;
      grid-template-areas:
          "one two"
          "three four";
    
      @include breakpoint(xl) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "one two three four"
      }

      li:nth-child(1) {
        grid-area: one;
      }

      li:nth-child(2) {
        grid-area: two;
      }

      li:nth-child(3) {
        grid-area: three;
      }

      li:nth-child(4) {
        grid-area: four;
      }
    }
  }
}

/************** card-restaurant **************/
.card-container {
  display: flex;
  overflow: hidden;
  height: 25rem;
  margin: 1.5rem 0;
  border-radius: $radius-rest-card;
  box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 10%);
}

.card-restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__img {
    position: relative;
    display: flex;
    flex: 1.2;
    overflow: hidden;
    width: 100%;
    min-height: 60%;
    border-radius: $radius-rest-img-card;

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transform: scale(1);
      filter: brightness(100%);
      transition: transform 1.5s ease-in-out, filter 0.5s ease-in-out;
    }
  }

  figcaption {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "menu menu menu menu menu favorites"
        "restaurant restaurant restaurant restaurant restaurant favorites";
    padding: 1.5rem;
    background-color: $color-white;

    .menu-name {
      grid-area: menu;
      margin: 0.5rem 0;
    }

    .restaurant-name {
      grid-area: restaurant;
      margin: 0.5rem 0;
    }

    .container-favorites-icon {
      grid-area: favorites;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0.5rem;
    }
  }
}



