/**************************************************/
/*************** section-photo-menu ***************/
/**************************************************/

.section-photo-menu {
  text-align: center;
  @include security-wrapper;
}

.photo-menu {
  width: 100%;
  height: 30rem;

  @include breakpoint(sm) {
    height: 35rem;
  }

  @include breakpoint(lg) {
    height: 40rem;
  }
}

/*****************************************************/
/************** section-menu-restaurant **************/
/*****************************************************/

.section-menu-restaurant {
  position: relative;
  bottom: 3.5rem;
  padding: 3.2rem 1.5rem 2.7rem 1.5rem;
  border-radius: 35px 35px 0 0;
  background-color: setcolor(grey, light);
  @include security-wrapper;

  h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 0;
    font-family: $heading-font;
  }
}

.list-menu {
  margin-bottom: 3.5rem;

  h2 {
    position: relative;
    margin: 1rem 0 1rem;
    padding: 2rem 0;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 400;
    color: setcolor(grey, dark);
  
    &::after {
      position: absolute;
      content: "";
      top: 41px;
      left: 1px;
      width: 4rem;
      height: 0.35rem;
      background-color: $color-tertiary;
    }
  }

  @include breakpoint(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;

    li:nth-child(1) {
      grid-column: 1/2;
    }

    li:nth-child(2) {
      grid-column: 2/4;
    }

    li:nth-child(3) {
      grid-column: 1/4;
    }
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(3, 1fr);

    li:nth-child(1) {
      grid-column: 1/2;
    }

    li:nth-child(2) {
      grid-column: 2/3;
    }

    li:nth-child(3) {
      grid-column: 3/4;
    }
  }
}

.part-menu-list {
  padding: $verti-padding;
}

/************** card-menu **************/

.card-menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  row-gap: 0.8rem;
  grid-template-areas: "title title title title title price select" "details details details details details price select";
  overflow: hidden;
  margin: 1.5rem 0;
  min-height: 7.5rem;
  opacity: 0;
  border-radius: 15px;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);
  background-color: white;
  cursor: pointer;

  h3 {
    grid-area: title;
    padding: 1.5rem 0 0 1.5rem;
    margin: 0;
    @include hide-text;

    @include breakpoint(lg) {
      font-size: 1.6rem;
    }
  }

  &__details {
    grid-area: details;
    padding: 0 0 1.5rem 1.5rem;
    margin: 0;
    @include hide-text;

    @include breakpoint(lg) {
      font-size: 1.4rem;
    }
  }

  &__price {
    grid-area: price;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding: 1.5rem 1.5rem 1.68rem 1.5rem;
    font-weight: 700;
  }

  &__select-product {
    grid-area: select;
    @include flex-center;
    overflow: hidden;
    width: 0;
    background-color: $color-tertiary;
    border-radius: 0 15px 15px 0;
    transition: width 0.5s ease-in-out;

    .select-icon {
      font-size: 2.2rem;
      color: $color-white;
    }
  }

  &:hover {
    .card-menu__select-product {
      width: 7rem;
    }

    .select-icon {
      animation: rotate-on-itself 0.5s forwards;
    }
  }
}

.card-menu {
  @include appear-card-menu;
}