.btn {
  position: relative;
  z-index: 1;
  border: none;
  cursor: pointer;
  color: $color-white;
  padding: $all-padding;
  border-radius: $radius-button;
  background: $gradient;
  box-shadow: $shadow-button;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: $radius-button;
    box-shadow: $shadow-button;
    background: $gradient-lighten;
    transition: all 0.3s ease-in-out;
  }

  &:hover {

    &::after {
      opacity: 1;
      box-shadow: $shadow-hover-button;
    }
  }

  &--large {
    padding: 1.5rem 5rem;
  }

  &:active {
    box-shadow: none;
  }

  &:focus {
    outline: 0;
  }
}
