.btn {
  border: none;
  cursor: pointer;
  color: $color-white;
  padding: $all-padding;
  border-radius: $radius-button;
  background: $gradient;
  box-shadow: $shadow-button;
  transition: all 0.3s ease-in-out;

  &--large {
    padding: 1.5rem 5rem;
  }

  &:hover {
    background: $gradient-lighten;
    box-shadow: $shadow-hover-button;
  }
}

