/**************************************************/
/************** section-localisation **************/
/**************************************************/

.section-localisation {
	@include flex-center;
	padding: $horiz-padding;
	font-size: 1.5rem;
	font-weight: 700;
	background-color: setcolor(grey,base);
	color: setcolor(grey, dark);
	
	.icon-localisation {
		padding-right: $all-padding;
		padding-bottom: 0.45rem;
	}
}

/*********************************************************/
/************** section-explore-restaurants **************/
/*********************************************************/

.section-explore-restaurants {
	@include flex-center;
	flex-direction: column;
	padding: 3.5rem 2.5rem 4rem 2.5rem;
	background-color: setcolor(grey,light);

	.title-ohmyfood {
		text-align: center;
		line-height: 2.8rem;
		letter-spacing: -0.1rem;
	}

	.description-ohmyfood {
		text-align: center;
		line-height: 2rem;
		margin: 1rem 0 1.5rem;
		color: setcolor(grey, semi-dark);
	}
}

/**************************************************/
/**************** section-tutorial ****************/
/**************************************************/

.section-tutorial {
	background-color: white;
	padding: 3.5rem 1.5rem;

  @include breakpoint(md) {

    h2 {
      text-align: center;
    }
  }

  @include breakpoint(lg) {

    h2 {
      text-align: start;
    }
  }
}

.list-tutorial {
	display: flex;
	flex-direction: column;
	padding: 0 0 0 1rem;

  @include breakpoint(md) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
				" . tutorial-one tutorial-one . "
        " . tutorial-two tutorial-two . "
        " . tutorial-three tutorial-three . ";
		padding: 0;

		.card-tutorial:nth-child(1) {
			grid-area: tutorial-one;
		}

		.card-tutorial:nth-child(2) {
			grid-area: tutorial-two;
		}

		.card-tutorial:nth-child(3) {
			grid-area: tutorial-three;
		}
	}

  @include breakpoint(lg) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		gap: 1.5rem;
		grid-template-areas:
				"tutorial-one tutorial-two tutorial-three";
		padding: 0;

		.card-tutorial:nth-child(1) {
			grid-area: tutorial-one;
		}

		.card-tutorial:nth-child(2) {
			grid-area: tutorial-two;
		}

		.card-tutorial:nth-child(3) {
			grid-area: tutorial-three;
		}
	}
}

/************** card-tutorial **************/

.card-tutorial {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-template-areas:
			"one two two two";
	margin: 1rem 0;
	padding: 1.5rem 0;
	border-radius: $radius-tuto-card;
	background-color: setcolor(grey,light);
	box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 10%);

		&__tutorial-icon {
			grid-area: one;
			@include flex-center;
			font-size: 1.8rem;
			color: setcolor(grey,semi-dark);

			&--active {
				color: $color-primary;
			}
		}

		&__title {
			grid-area: two;
		}

		@include breakpoint(sm) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas:
					"one two";
		}

		@include breakpoint(md) {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}

    @include breakpoint(lg) {
      padding: 1.5rem 0;
    }
}

.card-tutorial:nth-child(1)::before {
	@include number-tuto-card;
	content: "1";
}

.card-tutorial:nth-child(2)::before {
	@include number-tuto-card;
	content: "2";
}

.card-tutorial:nth-child(3)::before {
	@include number-tuto-card;
	content: "3";
}

/**************************************************/
/*************** article-restaurants **************/
/**************************************************/

.article-restaurants {
	padding: 3.5rem 1.5rem;
	background-color: setcolor(grey,light);

	&__list {
		margin: 3rem 0 3rem 0;

		@include breakpoint(md) {

			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto;
			gap: 1.5rem;
			grid-template-areas:
					"one two"
					"three four";
			margin: 1.3rem 0 3rem 0;

      li:nth-child(1) {
				grid-area: one;
			}

			li:nth-child(2) {
				grid-area: two;
			}

			li:nth-child(3) {
				grid-area: three;
			}

			li:nth-child(4) {
				grid-area: four;
			}
		
			@include breakpoint(xl) {
				grid-template-columns: repeat(4, 1fr);
				grid-template-areas:
						"one two three four"
			}
		}
	}
}

/************** card-restaurant **************/

.link-restaurant {
	display: flex;
	overflow: hidden;
	height: 25rem;
	margin: 1.5rem 0;
	border-radius: $radius-rest-card;
	box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 10%);
}

.card-restaurant {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;

	&__img {
		position: relative;
		display: flex;
		flex: 1.2;
		overflow: hidden;
		width: 100%;
		border-radius: $radius-rest-img-card;

		img {
			position: absolute;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	.new-restaurant-badge {
		position: absolute;
	}

	&__legend {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
				"menu menu menu menu menu favorites"
				"restaurant restaurant restaurant restaurant restaurant favorites";
		padding: 1.5rem;
		background-color: $color-white;

		&__menu-name {
			grid-area: menu;
			margin: 0.5rem 0;
		}

		&__restaurant-name {
			grid-area: restaurant;
			margin: 0.5rem 0;
		}

		&__content-fav-icon {
			grid-area: favorites;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			padding: 0.5rem;
		}
	}
}



